<h3><%= @user.username %></h3>

<% if @user.restaurants.any? %>
    <ul>
    <%= @user.restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %> 
    </ul>
<% end %> 
 
