<h1>Hey, <%= @user.first_name %>!</h1>
<p>Username: <%=@user.username %></p>
<p>Email: <%= @user.email %></p>



 
<%# for some reason the relationship between User and Restaurant isn't direct, it is reading the has_many_through relationship with inner join on Reviews %>
