<div class="user_review">
  <h4>Posted by: <%= review.user.username %></h4>
  <p> <%= review.body %></p>
  <p>Created: <%= review.created_at.strftime("%B %d %Y, %l:%M%P") %></p>

  <% if review.user.id == current_user.id %> 
  <%= link_to "Edit Your Review", edit_review_path(review) %>  
<% end %>
</div>





