
<div>
  <h4>Posted by: <%= review.user.username %></h4>
  <p class="review"><%= review.body %></p>
</div>
<p>
  Created: <%= review.created_at.strftime("%B %d %Y, %l:%M%P") %>
</p>
<% if review.user.id == current_user.id %> 
  <%= link_to "Edit Your Review", edit_restaurant_review_path(@restaurant, review) %>  <%# changed @restaurant, review from review %>
<% end %>




