<ul>
<%= @restaurants.each do |restaurant| %>
    <% if restaurant.state_id == restaurant.state.id %>  
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li> 
    <% end %>
<% end %> 
 
</ul>


<%# !!! need to work on this one -- if there  are not restaurants for that state, say no restaurant submissions yet and link_to create new restaurant %>