<% if @state.restaurants.any? %>
    <h1>Restaurant's in <%= @state.name %> </h1>
    <ul>
    <% @restaurants.each do |restaurant| %>
        <% if restaurant.state_id == restaurant.state.id %>  
            <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li> 
        <% end %>
    <% end %> 
    </ul>
<% else %> 
    <div class="no_restaurants">
        <h2>No Restaurant Submissions for <%=@state.name%></h2>
        <%= link_to 'Create Restaurant', new_user_restaurant_path(current_user) %>
    </div>
<% end %>
